figure{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 30px black;
}

figure :hover{
    cursor: zoom-in;
}

img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}


