img{
    width: 100px;
    height: 100px;
    border-top: 200px;
    border-radius: 150px;
    box-shadow: black;
}

section{
    display: flex;
    justify-content: center;
}

#first{
    justify-content: center;
}

